:root {
    --blue-color: #0084FF;
    --while-color: #ffffff;
    --gray-color: #E4E6EB; 
    --black-color: #050505;
    --active-color: #EAF3FF;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: var(--while-color);
    color: var(--black-color);
}
.container {
    margin: auto;
    width: 1200px;
    display: flex;
}
/* CSS chung cả 2 khối */
.header {
    height: 50px;
    background-color: var(--gray-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-content: center;
}
section {
    margin-top: 50px;
}

/* CSS phía edit */
.header-edit {
    flex-basis: 60%;
}
.edit {
    flex-basis: 60%;
}


/* CSS Phía Xem Trước */
.header-preview {
    flex-basis: 40%;
    align-self: stretch;
    display: flex;    
    justify-content: space-between;
}
.my_link h1{
    font-size: 20px;
    line-height: 50px;
}
.my_link a{
    color: black;
    text-decoration: none;
}
.share .btn {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
}
.share .btn i {
    margin-right: 5px;
}
.preview {
    flex-basis: 40%;
    align-self: stretch;
    position: relative;
}
